<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{URL_APP}}/static/css/login.css{{CACHE}}">
	<link rel="stylesheet" type="text/css" href="{{URL_APP}}/css/admin.css{{CACHE}}">
	<title>{{APP_NAME}}</title>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<h1>Panel de Admin</h1>
			<div id="cont-btns">
				<a href="{{URL_APP}}/logout" id="btn_logout" class="btn-logout btn submit">{{LOGOUT}}</a>
				<a href="{{URL_APP}}/map" id="btn_map" class="btn-map btn submit">Mapa de clientes</a>
			</div>
		</div>
		<div id="content">
			
		</div>
	</div>
</body>
</html>