<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{APP_NAME}}</title>

	<link rel="stylesheet" type="text/css" href="{{URL_APP}}/static/css/landing.css{{CACHE}}">
</head>
<body>
	
	<div id="wrapper">
		<div class="content">
			<div class="title-primary">
				<h1>Bienvenido a app Estaciones</h1>
			</div>
			
			<div class="content-text">
				<p class="text">
					Aqui podras encontrar estaciones meteorologicas instaladas en el pais de las cuales recolectamos datos para informarlas a los usuarios de {{APP_NAME}}
				</p>

				<a href="{{URL_APP}}/panel" class="btn-panel">Estaciones Meteorologicas</a>
			</div>
		</div>
	</div>
</body>
</html>

